@orange: #E8431E;
@darkbg: #14241A;
@lessdarkbg: #455C53;
@blue: #00889e;
@darkblue: #2a4c42;

body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0;
  &.h {
    background: transparent;
    color: inherit;
    span {
      color: #fff;
      background: @orange;
      padding: .4rem;
    }
  }
}

.container {
  width: 90%;
  max-width: 1600px;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.button,
a.button,
button,
input[type=submit] {
  background: @orange;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  border-color: darken(@orange, 10%);
  font-size: .9em;
  height: auto;
  padding: 1rem 2rem;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 0 darken(@orange, 20%);
  &:hover {
    color: #fff;
    background: darken(@orange, 5%);
    border-color: darken(@orange, 15%);
    .fa {
      background: darken(@orange, 10%);
    }
  }
  &:focus,
  &:active {
    box-shadow: 0 0 0 !important;
    transform: translate(0,4px);
    color: #fff;
  }
  .fa {
    float: left;
    margin: -1rem 2rem -1rem -2rem;
    padding: 2.15rem;
    background: darken(@orange, 5%);
    color: rgba(255,255,255,0.7);
    border-radius: 8px 0 0 8px;
  }
  &.button-secondary {
    background: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.4);
    box-shadow: 0 4px 0 rgba(0,0,0,0.5);
    .fa {
      background: rgba(0,0,0,0.1);
    }
    &:hover {
      background: rgba(0,0,0,0.4);
      border-color: rgba(0,0,0,0.6);
      .fa {
        // background: rgba(0,0,0,0.3);
      }
    }
  }
  &.button-small {
    font-size: .6em;
    padding: .1rem 2rem;
    box-shadow: 0 2px 0 darken(@orange, 20%);
    &:focus,
    &:active {
      transform: translate(0,2px);
    }
    .fa {
      padding: 1.3rem 1.5rem;
      margin: -.1rem 2rem -.1rem -2rem;
    }
  }
}

.clickable {
  cursor: pointer;
}

.button-group {
  display: table;
  width: 100%;
  .group-item {
    display: table-cell;
    width: 1%;
    padding: 0 1rem;
  }
}

.sign {
  font-family: "Codystar", cursive;
  font-size: 7em;
  line-height: 1;
  text-align: center;
}

.brand {
  h1 {
    max-width: 430px;
    color: #fff;
    font-weight: 500;
    margin: 0;
    a {
      color: inherit;
      text-decoration: none;
    }
    span {
      display: inline;
      padding: .2rem;
      line-height: 1.25;
    }
    .first {
      line-height: 2;
    }
    .second {
      font-size: 1.2em;
      text-transform: uppercase;
      background: @orange;
      letter-spacing: .1rem;
    }
    .third {
      font-size: .7em;
      background: #3e5d54;
      line-height: 2.5;
    }
  }
}

#masthead {
  background-color: #101d15;
  margin: 0;
  &:after {
    content: '';
  }
  .brand {
    margin: 1rem 2rem 1rem 0;
  }
  .brand {
    float: left;
    h1 {
      font-size: 1em;
    }
  }
  nav {
    float: left;
    margin-left: 6rem;
    font-size: 1.2em;
    > * {
      float: left;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        color: #fff;
        margin: 0 2rem 0 0;
        &.current-menu-item {
          a {
            border-top: 5px solid @orange;
            color: @orange;
          }
        }
        a {
          padding-top: 5rem;
          border-top: 5px solid transparent;
          display: block;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          text-transform: uppercase;
          &:hover {
            color: @orange;
          }
        }
      }
    }
  }
  .clade {
    float: right;
    .vertical {
      display: none;
    }
    .horizontal {
      margin-top: 2rem;
      display: block;
    }
  }
}

// Custom class for highlighted ANALISIS menu item when accessing single theme group
.single-theme #masthead nav ul li.menu-item-object-theme a,
.single-theme #masthead nav ul li.menu-item-object-theme-group a,
.single-theme-group #masthead nav ul li.menu-item-object-theme a,
.single-theme-group #masthead nav ul li.menu-item-object-theme-group a {
  border-top: 5px solid @orange;
  color: @orange;
}

.home {
  #masthead {
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 0;
    .brand {
      margin: 4rem 0;
    }
    nav ul li a {
      padding-top: 14rem;
    }
    .brand {
      h1 {
        font-size: 1.8em;
      }
    }
    .clade {
      .vertical {
        margin-top: 8rem;
        display: block;
      }
      .horizontal {
        display: none;
      }
    }
  }
}

.page-section {
  .section-icon {
    text-align: center;
    margin: 0 0 4rem;
    .fa {
      box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.2);
      text-align: center;
      line-height: 100px;
      display: inline-block;
      width: 100px;
      height: 100px;
      padding: 1rem;
      font-size: 4em;
      background: #fff;
      color: #455C53;
      border-radius: 100%;
      text-shadow: .2rem .2rem 0 lighten(@orange, 20%);
    }
  }
  .section-title {
    margin: 0 0 2rem;
    display: block;
    h2 {
      font-size: 1.8em;
      padding: .4rem;
      line-height: 1.5;
      background: @orange;
      color: #fff;
      display: inline;
      text-transform: uppercase;
      font-weight: 500;
      &.h {
        background: transparent;
        color: inherit;
        span {
          color: #fff;
          background: @orange;
          padding: .4rem;
        }
      }
    }
  }
  .section-intro {
    margin: 1rem 0 0;
    padding: 4rem 0;
    background: rgba(0,0,0,0.1);
    .section-intro-content {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
      -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
      -moz-column-gap: 4%; /* Firefox */
      column-gap: 4%;
    }
  }
  .section-content {
    font-size: 1.2em;
  }
}

.single-page {
  // background: @lessdarkbg;
  .page-header {
    background: @lessdarkbg;
    color: #fff;
    padding: 2rem 0;
    // border-bottom: 10px solid @orange;
    position: relative;
    z-index: 2;
    > * {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      background: @lessdarkbg;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -25px;
      width: 100%;
      height: 50px;
      background: @orange;
      transform: rotate(-.9deg);
    }
    .flag {
      float: left;
      width: 200px;
      height: 200px;
      margin-right: 4rem;
      margin-top: 1rem;
      margin-bottom: -7rem;
      background-position: center;
      background-size: cover;
      border-radius: 100%;
      border: 1px solid darken(@lessdarkbg, 5%);
      box-shadow: .5rem .5rem .2rem rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.05);
    }
    .header-label {
      // background: @orange;
      // padding: .2rem;
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
      font-weight: 500;
      margin-top: 1rem;
    }
    .page-header-nav {
      float: right;
      margin: 3rem 0 0;
      text-transform: lowercase;
      font-weight: 500;
      a {
        display: inline-block;
        color: #fff;
        position: relative;
        text-decoration: none;
        background: rgba(0,0,0,0.2);
        padding: .5rem 1rem;
        margin-left: 1rem;
        &.active,
        &:hover {
          &:after {
            content: '';
            position: absolute;
            bottom: -.1rem;
            left: -.1rem;
            right: -.1rem;
            transform: rotate(-.8deg);
            height: 3px;
            background: @orange;
          }
        }
      }
    }
    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 7rem;
      line-height: 1;
      text-transform: lowercase;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    aside  {
      margin-top: 4rem;
    }
  }
  .page-welcome,
  .page-content {
    padding: 6rem 0;
  }
  .page-welcome {
    padding: 7rem 0 3rem;
    background: @darkbg;
    color: #fff;
    font-size: 1.4em;
    position: relative;
    z-index: 1;
    p {
      margin: 0;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -25px;
      width: 100%;
      height: 50px;
      background: @darkbg;
      transform: rotate(-.9deg);
    }
    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 30px 30px 0;
      width: 0;
      height: 0;
      z-index: 2;
      border-color: transparent @orange transparent transparent;
      top: 25px;
      left: 20%;
    }
  }
  .page-content {
    background: darken(@lessdarkbg, 5%);
    font-size: 1.4em;
    &.list-page {
      background: lighten(@darkbg, 5%) url(../img/bg.png) top center no-repeat;
    }
  }
}

.theme-group {
  background: darken(@lessdarkbg, 5%);
  color: #fff;
  padding: 2rem 0;
  margin-bottom: -2rem;
}

.theme-group-item {
  background: @lessdarkbg;
  color: #fff;
  padding: 4rem 0;
  margin: 0;
  h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    background: @blue;
    padding: 1rem;
    margin: 0 0 4rem;
    &:after {
      content: '';
      position: absolute;
      bottom: -.8rem;
      left: -.1rem;
      right: -.1rem;
      height: 10px;
      background: @darkblue;
      transform: rotate(-.8deg);
    }
  }
  .child-themes {
    background: darken(@lessdarkbg, 5%);
    padding: 3rem 4rem;
    transform: rotate(-.5deg);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 30px 30px 0;
      width: 0;
      height: 0;
      z-index: 2;
      border-color: transparent darken(@lessdarkbg, 5%) transparent transparent;
      top: 40%;
      left: -20px;
    }
    h3 {
      margin: 0;
      font-size: .8em;
      text-align: center;
    }
    .sign {
      font-size: 6rem;
      margin: 0;
    }
    ul {
      transform: rotate(.5deg);
      display: table;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      // table-layout: fixed;
      li {
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        margin: 0;
        padding: 0;
      }
    }
  }
  .theme-content {
    background: lighten(@lessdarkbg, 5%);
    padding: 2rem;
    position: relative;
    .arrow {
      position: absolute;
      border-style: solid;
      border-width: 0 30px 30px 0;
      width: 0;
      height: 0;
      z-index: 2;
      border-color: transparent transparent lighten(@lessdarkbg, 5%) transparent;
      top: -20px;
      left: 15%;
    }
    &.theme-02 {
      &:before {
        left: 50%;
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    h4 {
      font-weight: 500;
      display: inline-block;
      position: relative;
      margin: 2rem 0 3rem 2rem;
      &:after {
        content: '';
        position: absolute;
        bottom: -.1rem;
        left: -.1rem;
        right: -.1rem;
        transform: rotate(-1deg);
        height: 5px;
        background: @orange;
      }
    }
    .general-download {
      margin-bottom: -2.5rem;
      text-align: center;
      p {
        margin: 0;
      }
      .button,
      a.button {
        display: inline-block;
        width: auto;
      }
    }
    .tree-nav {
      padding: 2rem 4rem .5rem;
      margin: -2rem -2rem 2rem;
      position: relative;
      z-index: 2;
      background: lighten(@lessdarkbg, 10%);
      text-align: center;
      .tree-item {
        font-size: .7em;
        background: darken(@lessdarkbg, 5%);
        border-bottom: 5px solid darken(@lessdarkbg, 10%);
        border-radius: 8px;
        margin-right: 1rem;
        margin: 0 1rem 1rem 0;
        overflow: hidden;
        display: inline-block;
        a {
          padding: 1rem 1.5rem;
          color: #fff;
          text-decoration: none;
          display: inline-block;
          &:hover,
          &.active {
            background: @lessdarkbg;
          }
        }
      }
    }
    .term-list {
      li {
        margin: 4%;
        width: 17%;
        padding-bottom: calc(~"17% - 4px");
      }
      &.full {
        li {
          width: 7%;
          margin: 1.5%;
          padding-bottom: calc(~"7% - 4px");
        }
      }
    }
    // .term-list {
    //   margin-top: 4rem;
    // }
    table {
      width: 100%;
      font-size: .8em;
      th,
      td {
        border-color: rgba(255,255,255,0.2);
      }
      th {
        padding-left: 0;
        &.sub {
          font-size: .8em;
          font-weight: 500;
          color: #eee;
        }
      }
      thead {
        th {
          text-align: center;
        }
      }
      a.button {
        width: auto;
        display: block;
        margin: auto;
      }
    }
  }
}

.analisis-theme-groups {
  margin: 0 0 6rem;
  .theme-groups {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    li {
      box-sizing: border-box;
      margin: 0 0 2%;
      padding: 2%;
      flex: 1 1 50%;
      article {
        background: darken(@lessdarkbg, 5%);
        padding: 2rem;
        transform: rotate(-.8deg);
        border-bottom: 10px solid @orange;
        > * {
          transform: rotate(.8deg);
        }
        h3 {
          font-size: 1.4em;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#country-page {
  .page-header {
    h1 {
      text-transform: none;
    }
  }
}

.term-list {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  li {
    margin: 1.5%;
    width: 7%;
    height: 0;
    padding-bottom: calc(~"7% - 4px");
    float: left;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: 2px solid darken(@darkbg, 5%);
    box-shadow: .25rem .25rem .25rem rgba(0,0,0,0.2);
    box-sizing: border-box;
    position: relative;
    &.active,
    &:active,
    &:focus,
    &:hover {
      // transform: translate(.1rem, .1rem);
      box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
    }
    a {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      top: 0;
    }
  }
}

.highcharts-container {
  .ref {
    font-weight: 500;
  }
  hr {
    margin: 1rem 0;
  }
  .highcharts-button {
    rect {
      fill: transparent;
    }
    path {
      stroke: rgba(255,255,255,0.5);
      fill: rgba(255,255,255,0.5);
    }
    &:hover {
      path {
        stroke: rgba(255,255,255,0.9);
        fill: rgba(255,255,255,0.9);
      }
    }
  }
}

#intro {
  margin-top: -6rem;
  height: 6rem;
  font-size: 2.2rem;
  .intro-content {
    position: relative;
    z-index: 2;
    // background: #333;
    background: #3a4d46;
    border-bottom: 10px solid @orange;
    color: #fff;
    padding: 4rem;
    margin-bottom: 10rem;
    transform: rotate(-.8deg);
    box-shadow: 0 0 4rem rgba(0,0,0,0.2);
    > * {
      transform: rotate(.8deg);
    }
    .button {
      font-size: .7em;
    }
  }
}

#methodology {
  color: #fff;
  padding: 6rem 0;
  h2 {
    padding: 0 2rem;
    display: block;
    text-align: center;
  }
  .method {
    margin: 0 0 4rem;
    .method-description {
      background: @lessdarkbg;
      padding: 2rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 30px 30px 0;
        width: 0;
        height: 0;
        z-index: 2;
        border-color: transparent @lessdarkbg transparent transparent;
        top: 10rem;
        left: -20px;
      }
    }
  }
}

#countries {
  background: @darkbg;
  padding: 6rem 0;
}

#colophon-widgets {
  border-top: 5px solid #000;
  background: #222 url(../img/bg.png) top center no-repeat;
  color: #fff;
  padding: 4rem 0;
  color: #999;
  ul.widgets {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    li.widget {
      flex: 1 1 33.3333%;
      padding: 0 2%;
      box-sizing: border-box;
    }
  }
  h2,
  h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
  }
}

#colophon-copyright {
  background: #3a4d46;
  color: #fff;
  padding: 2rem 0;
  p {
    margin: 0;
  }
  a {
    color: #506b60;
    padding-left: 1rem;
    &:hover {
      color: #fff;
    }
  }
  .copyright {
    float: left;
    img {
      float: left;
      margin-top: -.5rem;
      display: inline-block;
    }
    a {
      color: #fff;
    }
  }
  .social {
    float: right;
    font-size: 1.4em;
  }
}
